

<script src="{{url_for('static', filename='js/backend-bundle.min.js')}}"></script>
<!-- Table Treeview JavaScript -->
<script src="{{url_for('static', filename='js/table-treeview.js')}}"></script>
<!-- Chart Custom JavaScript -->
<script src="{{url_for('static', filename='js/customizer.js')}}"></script>
<!-- Chart Custom JavaScript -->
<script async src="{{url_for('static', filename='js/chart-custom.js')}}"></script>
<!-- app JavaScript -->
<script src="{{url_for('static', filename='js/app.js')}}"></script>

<script src="{{url_for('static', filename='js/dropdownCheckboxes.min.js')}}"></script>

<!--  -->

<script src="{{url_for('static', filename='js/attendance.js')}}"></script>