<footer class="footer w-80 fixed-bottom1 bg-light text-center p-3">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
                            <li class="list-inline-item"><a href="/terms">Terms of Use</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 text-right">
                        <span id="copyright" class="mr-1">
                             <a href="https://dunistech.ng" class="">Dunis Tecnologies Limited. </a>
                        </span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
document.getElementById('copyright').innerHTML += new Date().getFullYear()
</script>